/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require pretiffy/prettify
 *= require_tree .
*/

@import "bootstrap";

body {
  padding-top: 60px;
}

.navbar .nav > li > a:hover {
  background-color: #333333;
}

#logo {
  padding-left: 100px;
  display: block;
  background: url('logo_light_90x30.png') no-repeat left -4px;
  text-transform: lowercase;
}

@import "bootstrap-responsive";
